# Ignore environment file with secrets
.env

# Ignore logs
*.log

quiz_stats.json
set.json
quiz_stats.json
# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment folder (if you create one)
venv/
